@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-white: #fffafa;
  --btn-bg-color: #cfb53b;
  --heading-2-fz: 50px;
  --p-color: rgba(0, 0, 0, 0.7);
  --heading-2-fw: 600;
  --heading-2-md: 40px;
  --heading-2-sm: 25px;
  --title-color: rgba(0, 0, 0, 0.7);
}

body {
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
}

.btn {
  padding: 20px;
  background: var(--btn-bg-color);
  color: var(--color-white);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
  text-decoration: none;
}

a.btn {
  padding: 15px 30px;
}

.btn:hover {
  background: transparent;
  color: var(--btn-bg-color);
  outline: 1px solid var(--btn-bg-color);
}

.btn.sm {
  padding: 15px 30px;
}

.container {
  padding: 0 10%;
}

.container.outside {
  background: #f2f2f2;
}

img {
  object-fit: cover;
  max-width: 100%;
}

/* ------------------------- Media Queries -------------------------- */

@media (max-width: 1100px) {
  .container {
    padding: 0 5%;
  }
}
